@import url("root.css");

.txt-s-dtg{
	margin-top: 15px;
}


.big-icon{
	width: 90%;
	margin-left: 5%;
	height: 450px;
	margin-top: 30px;
	background-size: cover;
	background-position: center;
}

.wrap-button{
	width: 90%;
	margin-left: 5%;
	height: 120px;
	margin-top: 30px;
}

button{
	width: 100%;
	height: 50px;
	border: none;
	border-radius: 10px;
	color: white;
}

.login{
	background-color: var(--blue);
	margin-top: 10px;
}

.register{
	background-color: var(--grey);
	margin: 5px 0px;
}



