@import url("root.css");

.body{
	padding-bottom: 20px;
}

.wrap-list-order{
	margin-top: 60px;
}

.order-list{
	width: 100%;
	height: 135px;
	padding: 5px;
	border-bottom: 1px solid #ccc;
	position: relative;
}

.order-list:nth-child(1){
	border-top: 1px solid #ccc;
}

.left{
	width: 59%;
	height: 100%;
	float: left;
	padding: 10px 2.5px;
}

.right{
	width: 40%;
	height: 100%;
	float: right;
}

.title-menu{
	font-size: 19px;
}

.harga-menu{
	font-size: 15px;
	margin-top: -3px;
}

.thumbnail-menu-order{
	width: 80%;
	height: 90px;
	background-color: #ccc;
	float: right;
	background-size: cover;
	background-position: center;
}

.count-order-menu{
	width: 80%;
	margin-top: 5px;
	height: 40px;
	float: right;
}

.count-order-menu button{
	width: 30%;
	height: 30px;
	float: left;
	background-color:var(--success);
	color: white;
	font-size: 16px;
	text-align: center;
	line-height: 25px;
	margin: 0px 1.5%;
	border: none;
	outline: none;
}

.value-order{
	background-color: #ccc !important;
	color: black !important;
	line-height: 32px !important;
	font-size: 18.5px !important;
	width: 30%;
	float: left;
	margin: 0px 2%;
	text-align: center;
	height: 30px;
}


.voucher{
	margin-top: 30px;
	width: 100%;
	height: 60px;
	border : 1px solid #ccc;
	border-radius: 8px;
	position: relative;
	padding: 5px;
}

.thumbnail-voucher{
	width: 45px;
	height: 45px;
	background-color: orange;
	border-radius: 50%;
	margin: 1.5px;
	margin-left: 10px;
}

.detail-voucher{
	width: 80%;
	height: 60px;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0px 5px;
}

.text-voucher{
	font-size: 16px;
	line-height: 60px;
}

.total-pembelian{
	width: 100%;
	background-color: #ccc;
	margin-top: 20px;
	padding: 7.5px;
	margin-bottom: 20px;
}

.text-ringkasan-pembelian{
	font-size: 15px;
	margin-bottom: 20px;
	position: relative;
}

.text-ringkasan-pembelian::after{
	content: '';
	width: 95%;
	left: 2.5%;
	right: 2.5%;
	height: 1.5px;
	background-color: #acacac;
	position: absolute;
	bottom: -15px;
}

.order-menu-total{
	width: 100%;
	height: 30px;
	line-height: 30px;
}

.title-order{
	width: 65%;
	height: 100%;	float: left;
}

.title-order h2,
.price-order h2{
	font-size: 14px;
	line-height: 30px;
}

.price-order{
	width: 35%;
	height:100%;
	float: right;
	text-align: right;
}

hr{
	width: 95%;
	left: 2.5%;
	right: 2.5%;
	position: relative;
	height: 1.5px;
	background-color: #acacac;
	margin: 5px 0px;
}

.button-pesan{
	width: 100%;
	height: 50px;
	background-color: var(--success);
	margin-bottom: 15px;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	margin-top: 20px;
	border-radius: 8px;
}

.location-user{
	width: 100%;
	height: 60px;
	margin: 15px 0px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.location-user .left{
	width: 90%;
	height: 100%;
	float: left;
	padding: 5px 10px;
}

.text-location-user{
	font-size: 17.5px;
	line-height: 50px;
}

.location-user .right{
	width: 10%;
	height: 100%;
	float: right;
	text-align: center;
	font-size: 19px;
	line-height: 50px;
}


.pop-up-location,
.pop-up-discount{
	position: fixed;
	z-index: 90;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
}

.wrap-pop-up{
	width: 100%;
	height: 100% !important;
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	background-color: rgba(0, 0, 0, .5);
}

.detail-location-pop-up,
.detail-discount-pop-up{
	width: 100%;
	height: 360px;
	background-color: white;
	position: absolute;
	left: 0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	padding: 15px;
	cursor: pointer;
	bottom: -360px;
}

.show-pop-up-location,
.show-pop-up-discount{
	animation: showUpLoc .5s ease-in-out;
	bottom: 0px;
}

.close-pop-up-location,
.close-pop-up-discount{
	animation: closeUpLoc .5s ease-in-out;
	bottom: -360px;
}

@keyframes showUpLoc{
	0%{
		bottom: -360px;
	}

	100%{
		bottom: 0px;
	}
}

@keyframes closeUpLoc{
	0%{
		bottom: 0px;
	}

	100%{
		bottom: -360px;
	}
}



.search-location-pop-up{
	width: 100%;
	height: 310px;
}

.wrap-input-search{
	width: 100%;
	height: 50px;
	position: relative;
}

.wrap-input-search i {
	position: absolute;
	right: 10px;
	line-height: 50px;
	font-size: 17px;
}

.search-location{
	width: 100%;
	height: 50px;
	outline: none;
	border: none;
	border-bottom:  1.5px solid #ccc;
	font-size: 17px;
	padding:  0px 10px;
}


.location-list,
.discount-list{
	width: 100%;
	height: 50px;
	padding:  0px 10px;
	border-bottom: 1px solid #ccc;
}

.discount-list{
	height: 60px !important;
}

.location-list:nth-child(1),
.discount-list:nth-child(1){
	margin-top: 5px;
}

.location-list h2,
.discount-list h2{
	font-size: 17.5px;
	line-height: 50px;
}

.discount-list h2{
	font-size: 18.5px;
	line-height: 60px !important;
}

